@use 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: max-content;
    transform: scaleX(0);
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 10000;
    transform-origin: left;

    &.open {
        transform: scaleX(1);

        .cont {
            transform: scaleX(1);
        }
    }

    .cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $colorF;
        width: 300px;
        transition: transform .5s ease;
        transform: scaleX(0);
        transform-origin: left;

        .header {
            width: 100%;
            background-color: #1700aa;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            img {
                width: 150px;
                margin-bottom: 15px;
            }

            a {
                @include mixins.FontBody2();
                color: $colorFC;
                position: relative;

                &::before {
                    content: "\e942";
                    position: absolute;
                    top: 0;
                    left: -25px;
                    font-family: 'icomoon';
                }
            }
        }

        .footer {
            padding: 10px 15px;
            background: none;
            background-color: #1700aa;
        }
    }
}