@use 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.mobile-menu-item {
    display: block;
    transition: all .5s ease;
    cursor: pointer;

    &#open span::after {
        transform: rotate(180deg);
    }

    span {
        color: $color3;
        padding: 20px 30px 20px 50px;
        display: block;
        transition: all .5s ease;
        position: relative;

        &::before {
            content: "\e90d";
            position: absolute;
            top: 14px;
            left: 10px;
            font-size: 23px;
            font-family: 'icomoon';
        }

        &::after {
            content: "\e90f";
            position: absolute;
            top: 16px;
            right: 25px;
            font-family: 'icomoon';
            font-size: 18px;
            transition: all .77s ease;
        }

        &:hover {
            background-color: #f1f1f1;
        }
    }

    .submenu-container {
        max-height: 0;
        transform-origin: top;
        overflow: hidden;
        transition: max-height .5s ease-in-out;

        &.open-sb {
            max-height: 400em;
        }

        .menu-feature {
            .menu__title {
                color: $color5;
                padding: 10px;
            }

            .ssubmenu {
                li {
                    a {
                        display: block;
                        padding: 5px 10px 5px 30px;
                        color: #000;
                        position: relative;
                        transition: color .5 ease;

                        &::after {
                            content: "\e90a";
                            position: absolute;
                            top: 5px;
                            left: 6px;
                            font-size: 14px;
                            font-family: 'icomoon';
                        }

                        &:hover {
                            color: $color5;
                        }
                    }
                }

                margin-bottom: 10px;
            }
        }
    }


}