$color-blue: #086CF9;
$color0: #000;
$color2: #222;
$color3: #333;
$color4: #444;
$color5: #555;
$colorF: #fff;
$colorFC: #fcfcfc;
$colorF9: #f9f9f9;
$main-back: #EFEFEF;
$banner-back: rgba(0, 0, 0, 0.54);
$back3: #ECF4FF;
$footer-back: #D3E5FE;